<html>
	<head>
		<title>Results</title>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  
	</head>
	<body class="teal lighten-5">
	<div class="container teal lighten-3" min-height=90vh>
	<h1>Results of computations on \(\mathbb F_2^8\)</h1>
	<p>Last update on {{ updateTime }}. Refer to my <a href="https://github.com/jansuli/apn-utils">github</a> for sage/python code ("ranks.sage", "funcs.py").
	<br/>We got {{ cols }} results so far...</p>
	<ul>
	{% for dist, N in distN.iteritems() %}
	<li> {{ dist }} occurs {{ N }} times</li>
	{% endfor %}</ul>
	<table class="striped">
		<thead>
			<tr>
				<td> APN-Function </td>
				<td> Rank-Distribution </td>
				<td> Code Weights</td>
				<td> Walsh-Spektrum </td>
			</tr>
		</thead>
		<tbody>
			{% for res in results %}<tr><td> {{ res.apn }}</td><td> {{ res.distribution }} </td> <td> {{ res.codeDist }}</td></tr>{% endfor %}
		</tbody>
	</table>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	</div></body>
</html>
